<h1>Update Pet</h1>
<h2>Edits for <%= @pet.name %></h2>

  <form action="/pets/<%= @pet.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <h3>Edit Pet's Name: </h3>
    <label>Pet Name: </label>
    <br>
    <input type="text" name="pet[name]" id="pet_name" value= "<%= @pet.name %>"/>
    <br><br>


    <br>
    


   <label>Edit the Owner:</label>
    <br>
    <% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id%>" <%='checked' if @pet.owner== owner %>><%= owner.name %></input><br>
    <% end %>

     <label>Create New Owner:</label>
    <input id = "owner_name" type="text" name="owner[name]"/>


  

    <input type="submit" value="Update Pet">
  </form> 

